{% extends "base.html" %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading d-flex align-items-center">
                    <img style="height:60px; border-radius: 50%; margin-top: 40px;" src="https://static.vecteezy.com/system/resources/previews/002/285/954/non_2x/orange-fruit-logo-design-illustration-icon-free-vector.jpg" alt="">
                    <h3 style="padding-left: 10px;" class=" site-heading my-1 mt-5 text-white"> My Fruits </h3>
                </div>
                <p style="padding-left: 70px;" class="text-light">Falando sobre Frutas &nbsp</p>
            </div>
        </div>
    </div>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }
        .btn{
          background-color: #00643c;
          padding: 8px;
          text-decoration: none;
        }
        .head_text {
            color: white;
        }

        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
    </style>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Leia Mais &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}
